body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.incimages.com%2Fuploaded_files%2Fimage%2F1920x1080%2Fgetty_883231284_200013331818843182490_335833.jpg&imgrefurl=https%3A%2F%2Fwww.inc.com%2Fmareo-mccracken%2F12-great-books-you-should-definitely-read-in-2018.html&tbnid=P-sCNmq1mhnMcM&vet=12ahUKEwjWttGr9frsAhViFt8KHXoDBHoQMygAegUIARDQAQ..i&docid=gy-BJxHwoMWyPM&w=1920&h=1080&q=google%20books%20image&ved=2ahUKEwjWttGr9frsAhViFt8KHXoDBHoQMygAegUIARDQAQ);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
